/*table {
    border-spacing:0 5px;
    border-collapse: separate;
}

tr:last-child th:first-child {
    border-bottom-left-radius: 9px;
    border-top-left-radius: 9px;
}

tr:last-child th:last-child {
    border-bottom-right-radius: 9px;
    border-top-right-radius: 9px;
}

tr td:first-child {
    border-bottom-left-radius: 9px;
    border-top-left-radius: 9px;
}

tr td:last-child {
    border-bottom-right-radius: 9px;
    border-top-right-radius: 9px;
}

td {
    background: #fff;
}

th {
    background: #fff;
    padding-top: 18px;
    padding-bottom: 15px;
}

th, td {
    padding-left: 31px;
    padding-right: 31px;
    padding-top: 18px;
    padding-bottom: 18px;
}

thead {
    font-size: 11px;
}*/

